@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.32;
}

main {
  overflow-x: hidden;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, nav {
  list-style: none;
}

strong {
  font-weight: 700;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header.main-header {
  background: -webkit-gradient(linear, right top, left top, from(#28a5f5), to(#1e87f0));
  background: -webkit-linear-gradient(right, #28a5f5, #1e87f0);
  background: -o-linear-gradient(right, #28a5f5, #1e87f0);
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1009;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.header.main-header .header__logo {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
}

.header.main-header .header__github {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header.main-header .header__github img {
  width: 30px;
}

.header.main-header .header__link {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header.main-header .header__link img {
  margin-left: 8px;
  width: 18px;
}

.header.main-header .header__link:hover {
  border-color: white;
  color: white;
}

.uk-menu {
  width: 300px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0;
  overflow-y: scroll;
  padding: 40px;
}

.uk-menu li {
  margin-bottom: 10px;
}

.uk-menu li h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.uk-menu li a {
  text-decoration: none;
  color: #999999;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  font-size: 14px;
}

.uk-menu li a:before {
  content: '';
  width: 10px;
  height: 1px;
  background: #28a5f5;
  position: absolute;
  left: -20px;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: trnaslate(0, -50%);
      -ms-transform: trnaslate(0, -50%);
          transform: trnaslate(0, -50%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.uk-menu li a:hover {
  border-color: transparent;
  color: #333333;
}

.uk-menu li a.active {
  color: #333333;
}

.uk-menu li a.active:before {
  opacity: 1;
  visibility: visible;
}

.uk-menu-inner {
  padding-left: 20px;
}

.uk-menu-inner li:first-of-type {
  margin-top: 10px;
}

.uk-preview {
  max-width: 1140px;
  margin: 120px auto 120px auto;
}

.example {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.example span {
  font-size: 16px;
  margin-left: 20px;
  color: #999999;
}

.uk-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 40px;
}

.uk-get-code {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 127px;
  right: 100px;
}

.uk-get-code span {
  font-size: 14px;
  color: #999999;
}

.uk-get-code img {
  width: 16px;
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */