<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/accordion.css" />
    <title>UIkit Accordion</title>
  </head>
  <body>
    <header class="header main-header">
      <a href="../../index.html" class="header__logo">UIkit</a>
      <a href="https://github.com/RomanR301/UI-KIT" target="_blank" class="header__github"><img src="../../img/icons/icon-github.svg" alt="github" /></a>
      <a href="https://github.com/RomanR301/UI-KIT/archive/refs/heads/gh-pages.zip" class="header__link"> DOWNLOAD <img src="../../img/icons/icon-download.svg" alt="download" /> </a>
    </header>
    <main>
      <div class="uk-preview">
        <h1 class="uk-title">Accordion</р>
        <a href="#" class="uk-get-code">
          <span>get code</span>
          <img src="../../img/icons/icon-code.svg" alt="get-code" />
        </a>
        <h2 class="example">
          Example #1
          <span>1 open item</span>
        </h2>
        <div class="example1">
          <div class="accordion-container">
            <div class="accordion__item">
              <a class="accordion__button" href="#">
                Lorem, ipsum dolor.
                <i class="accordion__arrow"></i>
              </a>
              <div class="accordion__content">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eligendi voluptate est doloremque nostrum quae nihil quidem rerum vel porro illum quisquam provident earum, facere fuga, libero iusto. Ab tempora suscipit, beatae
                  assumenda placeat id praesentium ut consectetur repudiandae error, veritatis sint odio natus quae consequuntur quas nostrum quia facilis!
                </p>
              </div>
            </div>
            <div class="accordion__item">
              <a class="accordion__button" href="#">
                Lorem, ipsum dolor.
                <i class="accordion__arrow"></i>
              </a>
              <div class="accordion__content">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eligendi voluptate est doloremque nostrum quae nihil quidem rerum vel porro illum quisquam provident earum, facere fuga, libero iusto. Ab tempora suscipit, beatae
                  assumenda placeat id praesentium ut consectetur repudiandae error, veritatis sint odio natus quae consequuntur quas nostrum quia facilis!
                </p>
              </div>
            </div>
            <div class="accordion__item">
              <a class="accordion__button" href="#">
                Lorem, ipsum dolor.
                <i class="accordion__arrow"></i>
              </a>
              <div class="accordion__content">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eligendi voluptate est doloremque nostrum quae nihil quidem rerum vel porro illum quisquam provident earum, facere fuga, libero iusto. Ab tempora suscipit, beatae
                  assumenda placeat id praesentium ut consectetur repudiandae error, veritatis sint odio natus quae consequuntur quas nostrum quia facilis!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-menu">
        <ul>
          <li>
            <h2>Documentation</h2>
          </li>
          <li>
            <a class="active" href="accordion.html">Accordion</a>
          </li>
          <li>
            <a href="breadcrumb.html">Breadcrumbs</a>
          </li>
          <li>
            <a href="button.html">Buttons</a>
          </li>
          <li>
            <a href="card.html">Cards</a>
          </li>
          <li>
            <a href="comments.html">Comments</a>
          </li>
          <li>
            <a href="dropdown.html">Dropdown</a>
          </li>
          <li>
            <a href="headers.html">Headers</a>
            <ul class="uk-menu-inner">
              <li>
                <a href="nav.html">Nav</a>
              </li>
              <li>
                <a href="navbar.html">Navbar</a>
              </li>
              <li>
                <a href="lang.html">Lang</a>
              </li>
              <li>
                <a href="offcanvas.html">Offcanvas</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="forms.html">Forms</a>
            <ul class="uk-menu-inner">
              <li>
                <a href="checkboxes.html">Checkboxes</a>
              </li>
              <li>
                <a href="radio.html">Radio buttons</a>
              </li>
              <li>
                <a href="search.html">Search</a>
              </li>
              <li>
                <a href="upload.html">Upload</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="map.html">Map</a>
          </li>
          <li>
            <a href="lightbox.html">Lightbox</a>
          </li>
          <li>
            <a href="links.html">Links</a>
          </li>
          <li>
            <a href="list.html">List</a>
          </li>
          <li>
            <a href="overlay.html">Overlay</a>
          </li>
          <li>
            <a href="pagination.html">Pagination</a>
          </li>
          <li>
            <a href="parallax.html">Parallax</a>
          </li>
          <li>
            <a href="preloader.html">Preloader</a>
          </li>
          <li>
            <a href="progress.html">Progress</a>
          </li>
          <li>
            <a href="scroll.html">Scroll</a>
          </li>
          <li>
            <a href="slider.html">Slider</a>
          </li>
          <li>
            <a href="tab.html">Tab</a>
          </li>
          <li>
            <a href="table.html">Table</a>
          </li>
          <li>
            <a href="toggle.html">Toggle</a>
          </li>
          <li>
            <a href="tooltip.html">Tooltip</a>
          </li>
          <li>
            <a href="video.html">Video</a>
          </li>
        </ul>
      </div>
    </main>
  </body>
  <script src="../../js/jquery.min.js"></script>
  <script src="./accordion.js"></script>
</html>
